# {{ansible_managed}}
MODE=auto
{% if sb_app_service_java_home is defined %}
JAVA_HOME="{{ service_service_java_home }}"
{% endif %}
JAVA_OPTS="-Xms{{ service_java_opts_xms }} -Xmx{{ service_java_opts_xmx }} {% if service_logback_file_template_path is defined %}-Dlogging.config={{ service_root_folder }}/{{ service_name | upper }}/{% if use_initd %}{{ service_version }}/{% endif %}logback-spring.xml{% endif %} {{ service_java_opts_others | default('') }}"
{% if service_service_debug is defined %}
DEBUG="{{ service_service_debug }}"
{% endif %}
{% if service_run_args is defined %}
RUN_ARGS={{ service_run_args }}
{% endif %}
PID_FOLDER={{ sb_initd_pid_folder }}
LOG_FOLDER={{ sb_initd_log_folder }}
LOG_FILENAME={{ sb_initd_log_filename }}
{% if service_stop_wait_time is defined %}
STOP_WAIT_TIME={{ service_stop_wait_time }}
{% endif %}
{% for item in service_env %}
{{item.name}}="{{item.value | regex_replace('"', '\\"')}}"
{% endfor %}
